.tempNorthArkImg {
  width: 300px;
  margin-left: -15px;
  margin-top: -20px;
}

.modalButtons {
  button {
    margin: 20px 15px -15px 10px;
  }
}

.pageTitle {
  font-size: 1em;
  width:100%;
  max-width: 1000px;
  text-align: right;
  margin: auto;
  padding: 5px 17px;
}

.navButton {
  margin: auto;
}

.emailChange {
  margin: 20px;
}

.settingsTitles {
  font-size: 1.2em;
}

.MuiTextField-root > label {
  font-size: 1em;
}

.overviewDiv {
  width: 100%;
  max-width: 900px;
  margin: auto;
}

#footer {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  padding: 0 15px;
  font-size: 0.72em;
  margin-top: 10px;

  .footerLeft {

    .leftTop {
      .footerLogo {
        width: 35px;
        height: 35px;
      }
      .copyrightText {
        margin-top: 10px;
        padding-left: 7px;
      }
    }

    .leftBottom {
      margin-top: -12px;
      padding-left: 4px;
    }

  }

  .footerCenter {
    margin-top: 15px;

    @media only screen and (max-width: 768px){
      margin-top: -10px;
    }
  }

  .footerRight {
    padding: 10px 30px 0 0;

    .siteMapList {
      list-style-type: none;

    }
  }
}